@import 'tailwindcss';

@theme {
}

:root {
  background-color: rgb(255, 255, 255);
}

/* body {
  @apply bg-slate-950 text-slate-200;
  font-family: var(--font-display, sans-serif);
} */

/* !!!!!!!!!! do usunięcia jeśli modyfikacja pola skills w formularzu !!!!!!!!!!!!!!! */
/* Hide number input spinners (Chrome, Safari, Edge) */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinners (Firefox) */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155; /* slate-700 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569; /* slate-600 */
}
